<div class="d-flex flex-column justify-content-center align-items-center pt-2 header-bg vh-100">
  <img src="assets/images/trust_logo.svg" alt="trust">
  <h4 class="mt-4">Use Trust Wallet</h4>
  <div class="message p-2">TrustWallet is required to use Trust Platform.</div>
  <div class="d-flex flex-wrap justify-content-center align-items-center mt-2">
    <a href="https://trustwallet.com/dl/ios" class="download-button mt-2">
      <svg class="download-app-image download-apple"></svg>
    </a>
    <a href="https://trustwallet.com/dl/android" class="download-button ml-2 mt-2">
      <svg class="download-app-image download-android"></svg>
    </a>
    <a href="https://trustwallet.com/dl/apk" class="download-button ml-2 mt-2">
      <svg class="download-app-image download-apk"></svg>
    </a>
  </div>
</div>
